.container {
  max-width: 960px;
}

.container img {
  width: 100%;
}

.container figure {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 750px) {
  .portrait {
    width: 65%;
  }
}

.container p {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.6em;
  text-transform: none;
  color: #262626;
}

.title {
  text-align: center;
  margin-top: 2rem;
}

.title .subtitle {
  font-size: 14px;
}

.post-title {
  text-align: center;
  margin-top: 2rem;
}

.title a {
  text-decoration: none;
  color: #000000;
}

.image-with-caption {
  position: relative;
  padding-top: 0.25rem;
}

.image-with-caption img {
  width: 100%;
}

.caption {
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.image-with-caption a {
  text-decoration: none;
}

.caption-title h1 {
  font-weight: 500;
}

@media (min-width: 1000px) {
  .caption-title h1 {
    font-size: 6.5rem;
  }
}

.caption-date {
  padding-bottom: 5%;
}

.spacer {
  padding-top: 2rem;
}

.cover-image img {
  width: 100%;
}

h5 {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0;
}

body {
  padding-bottom: 20px;
}